In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("dataset/train.csv")

In [36]:
df.head()

,Item_Id,Date,State_of_Country,Market_Category,Product_Category,Grade,Demand,Low_Cap_Price,High_Cap_Price
0,IT_1,2007-07-05,0,0,0,0,0.5,2785,4240
1,IT_2,2007-07-05,0,1,0,0,0.7,3574,4756
2,IT_3,2007-07-05,0,103,0,1,1.6,5978,9669
3,IT_4,2007-07-05,0,103,0,0,0.0,5681,8313
4,IT_5,2007-07-05,0,103,0,2,0.0,4924,7257

In [37]:
df['sell_date'] = pd.to_datetime(df['Date'])

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9798 entries, 0 to 9797
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Id           9798 non-null   object
 1   Date              9798 non-null   object
 2   State_of_Country  9798 non-null   int64
 3   Market_Category   9798 non-null   int64
 4   Product_Category  9798 non-null   int64
 5   Grade             9798 non-null   int64
 6   Demand            9798 non-null   float64
 7   Low_Cap_Price     9798 non-null   int64
 8   High_Cap_Price    9798 non-null   int64
 9   sell_date         9798 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), object(2)
memory usage: 765.6+ KB

In [39]:
df['month'] = df['sell_date'].dt.month
df['year'] = df['sell_date'].dt.year

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9798 entries, 0 to 9797
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item_Id           9798 non-null   object
 1   Date              9798 non-null   object
 2   State_of_Country  9798 non-null   int64
 3   Market_Category   9798 non-null   int64
 4   Product_Category  9798 non-null   int64
 5   Grade             9798 non-null   int64
 6   Demand            9798 non-null   float64
 7   Low_Cap_Price     9798 non-null   int64
 8   High_Cap_Price    9798 non-null   int64
 9   sell_date         9798 non-null   datetime64[ns]
 10  month             9798 non-null   int64
 11  year              9798 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(8), object(2)
memory usage: 918.7+ KB

In [41]:
df.drop(columns=['Item_Id','Date','sell_date'],inplace=True)

In [42]:
df.corr()

,State_of_Country,Market_Category,Product_Category,Grade,Demand,Low_Cap_Price,High_Cap_Price,month,year
State_of_Country,1.000000,0.122124,0.205858,-0.038140,-0.002647,0.234901,0.027959,0.114371,-0.151553
Market_Category,0.122124,1.000000,-0.030353,-0.034454,-0.049241,0.198524,0.144557,0.115828,-0.190729
Product_Category,0.205858,-0.030353,1.000000,-0.056394,0.085874,0.180240,0.114415,0.041560,-0.062602
Grade,-0.038140,-0.034454,-0.056394,1.000000,0.047414,-0.079639,0.171083,-0.031837,0.046044
Demand,-0.002647,-0.049241,0.085874,0.047414,1.000000,-0.057482,-0.033971,-0.026519,0.005417
Low_Cap_Price,0.234901,0.198524,0.180240,-0.079639,-0.057482,1.000000,0.721021,0.281381,0.001937
High_Cap_Price,0.027959,0.144557,0.114415,0.171083,-0.033971,0.721021,1.000000,0.156869,0.151970
month,0.114371,0.115828,0.041560,-0.031837,-0.026519,0.281381,0.156869,1.000000,-0.449247
year,-0.151553,-0.190729,-0.062602,0.046044,0.005417,0.001937,0.151970,-0.449247,1.000000

In [52]:
df.head()

,State_of_Country,Market_Category,Product_Category,Grade,Demand,Low_Cap_Price,High_Cap_Price,month,year
0,0,0,0,0,0.5,2785,4240,7,2007
1,0,1,0,0,0.7,3574,4756,7,2007
2,0,103,0,1,1.6,5978,9669,7,2007
3,0,103,0,0,0.0,5681,8313,7,2007
4,0,103,0,2,0.0,4924,7257,7,2007

In [53]:
df.columns

Index(['State_of_Country', 'Market_Category', 'Product_Category', 'Grade',
       'Demand', 'Low_Cap_Price', 'High_Cap_Price', 'month', 'year'],
      dtype='object')

In [54]:
X = df[['State_of_Country', 'Market_Category', 'Product_Category', 'Grade',
       'Demand', 'High_Cap_Price', 'month', 'year']]

In [55]:
y = df['Low_Cap_Price']

In [56]:
from sklearn.model_selection import train_test_split

In [57]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [58]:
from sklearn.linear_model import LinearRegression
lg = LinearRegression()

In [59]:
lg.fit(X_train,y_train)

LinearRegression()

In [61]:
lg.score(X_train,y_train)

0.6287965494090626

In [63]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth=42, random_state=0)

In [65]:
regr.fit(X_train,y_train)

RandomForestRegressor(max_depth=42, random_state=0)

In [66]:
regr.score(X_train,y_train)

0.9816266528790432

In [67]:
regr.score(X_test,y_test)

0.8625704643155896

In [68]:
df_test = pd.read_csv("dataset/test.csv")

In [69]:
df_test.head()

,Item_Id,Date,State_of_Country,Market_Category,Product_Category,Grade,Demand,High_Cap_Price
0,IT_265079,2014-01-19,0,3,0,0,0.1,5303
1,IT_265087,2014-01-19,0,268,0,2,1.4,10492
2,IT_265107,2014-01-19,0,320,0,0,13.4,24706
3,IT_265139,2014-01-19,17,358,0,3,5.5,23464
4,IT_265142,2014-01-19,18,23,5,2,0.0,6222

In [70]:
df_test['sell_date'] = pd.to_datetime(df_test['Date'])
df_test['month'] = df_test['sell_date'].dt.month
df_test['year'] = df_test['sell_date'].dt.year
df_test.drop(columns=['Item_Id','Date','sell_date'],inplace=True)

In [72]:
X = df_test[['State_of_Country', 'Market_Category', 'Product_Category', 'Grade',
       'Demand', 'High_Cap_Price', 'month', 'year']]

In [73]:
y_pred = regr.predict(X)

In [84]:
test_data_iid = pd.read_csv("dataset/test.csv")['Item_Id'].values

In [85]:
output=pd.DataFrame(list(zip(test_data_iid,y_pred)),columns=['Item_Id','Low_Cap_Price'])

In [86]:
output.to_csv("output.csv",index=False)