In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dataset/train.csv')

In [5]:
df.head()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate
0,fffe32003000360033003200,2008-09-30,Female,Service,No,2.0,3.0,3.8,0.16
1,fffe3700360033003500,2008-11-30,Male,Service,Yes,1.0,2.0,5.0,0.36
2,fffe31003300320037003900,2008-03-10,Female,Product,Yes,2.0,NaN,5.8,0.49
3,fffe32003400380032003900,2008-11-03,Male,Service,Yes,1.0,1.0,2.6,0.20
4,fffe31003900340031003600,2008-07-24,Female,Service,No,3.0,7.0,6.9,0.52

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee ID           22750 non-null  object
 1   Date of Joining       22750 non-null  object
 2   Gender                22750 non-null  object
 3   Company Type          22750 non-null  object
 4   WFH Setup Available   22750 non-null  object
 5   Designation           22750 non-null  float64
 6   Resource Allocation   21369 non-null  float64
 7   Mental Fatigue Score  20633 non-null  float64
 8   Burn Rate             21626 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.6+ MB

In [7]:
df.drop(columns=['Employee ID'],inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date of Joining       22750 non-null  object
 1   Gender                22750 non-null  object
 2   Company Type          22750 non-null  object
 3   WFH Setup Available   22750 non-null  object
 4   Designation           22750 non-null  float64
 5   Resource Allocation   21369 non-null  float64
 6   Mental Fatigue Score  20633 non-null  float64
 7   Burn Rate             21626 non-null  float64
dtypes: float64(4), object(4)
memory usage: 1.4+ MB

In [23]:
import datetime
d0 = datetime.date(2009, 10, 10)
d1 = d0-pd.to_datetime(max(df['Date of Joining'])).date()

In [44]:
working_days = []
dates = (survey_date -  pd.to_datetime(df['Date of Joining']).dt.date)
len(dates)
for i in dates:
    working_days.append(i.days)
df['working_days'] = working_days

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date of Joining       22750 non-null  object
 1   Gender                22750 non-null  object
 2   Company Type          22750 non-null  object
 3   WFH Setup Available   22750 non-null  object
 4   Designation           22750 non-null  float64
 5   Resource Allocation   21369 non-null  float64
 6   Mental Fatigue Score  20633 non-null  float64
 7   Burn Rate             21626 non-null  float64
 8   working_days          22750 non-null  int64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.6+ MB

In [47]:
df.drop(columns=['Date of Joining'],inplace=True)

In [48]:
from sklearn.preprocessing import LabelEncoder

In [52]:
lg = LabelEncoder()
lct = LabelEncoder()
lwsa = LabelEncoder()

In [53]:
lg_o = lg.fit(df['Gender'])

In [54]:
lct_o = lct.fit(df['Company Type'])

In [55]:
lwsa_o = lwsa.fit(df['WFH Setup Available'])

In [56]:
lg_o.classes_

array(['Female', 'Male'], dtype=object)

In [57]:
lct_o.classes_

array(['Product', 'Service'], dtype=object)

In [58]:
lwsa_o.classes_

array(['No', 'Yes'], dtype=object)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                22750 non-null  object
 1   Company Type          22750 non-null  object
 2   WFH Setup Available   22750 non-null  object
 3   Designation           22750 non-null  float64
 4   Resource Allocation   21369 non-null  float64
 5   Mental Fatigue Score  20633 non-null  float64
 6   Burn Rate             21626 non-null  float64
 7   working_days          22750 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.4+ MB

In [62]:
df['Gender_Classes'] = lg_o.transform(df['Gender'])

In [63]:
df['CompanyType_Classes'] = lct_o.transform(df['Company Type'])

In [64]:
df['WFHSetupAvailable_Classes'] = lwsa_o.transform(df['WFH Setup Available'])

In [65]:
df.head()

,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,working_days,Gender_Classes,CompanyType_Classes,WFHSetupAvailable_Classes
0,Female,Service,No,2.0,3.0,3.8,0.16,375,0,1,0
1,Male,Service,Yes,1.0,2.0,5.0,0.36,314,1,1,1
2,Female,Product,Yes,2.0,NaN,5.8,0.49,579,0,0,1
3,Male,Service,Yes,1.0,1.0,2.6,0.20,341,1,1,1
4,Female,Service,No,3.0,7.0,6.9,0.52,443,0,1,0

In [66]:
df.drop(columns = ['Gender','Company Type','WFH Setup Available'],inplace=True)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Designation                22750 non-null  float64
 1   Resource Allocation        21369 non-null  float64
 2   Mental Fatigue Score       20633 non-null  float64
 3   Burn Rate                  21626 non-null  float64
 4   working_days               22750 non-null  int64
 5   Gender_Classes             22750 non-null  int32
 6   CompanyType_Classes        22750 non-null  int32
 7   WFHSetupAvailable_Classes  22750 non-null  int32
dtypes: float64(4), int32(3), int64(1)
memory usage: 1.1 MB

In [68]:
df.head()

,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,working_days,Gender_Classes,CompanyType_Classes,WFHSetupAvailable_Classes
0,2.0,3.0,3.8,0.16,375,0,1,0
1,1.0,2.0,5.0,0.36,314,1,1,1
2,2.0,NaN,5.8,0.49,579,0,0,1
3,1.0,1.0,2.6,0.20,341,1,1,1
4,3.0,7.0,6.9,0.52,443,0,1,0

In [69]:
df.corr()

,Designation,Resource Allocation,Mental Fatigue Score,Burn Rate,working_days,Gender_Classes,CompanyType_Classes,WFHSetupAvailable_Classes
Designation,1.000000,0.878459,0.690983,0.737556,0.000930,0.113295,0.006095,-0.229720
Resource Allocation,0.878459,1.000000,0.799662,0.856278,0.000474,0.143228,0.005844,-0.285085
Mental Fatigue Score,0.690983,0.799662,1.000000,0.944546,-0.002417,0.145665,0.002661,-0.276580
Burn Rate,0.737556,0.856278,0.944546,1.000000,0.001358,0.154895,0.004281,-0.306266
working_days,0.000930,0.000474,-0.002417,0.001358,1.000000,0.000093,0.000237,0.004144
Gender_Classes,0.113295,0.143228,0.145665,0.154895,0.000093,1.000000,-0.009789,-0.073296
CompanyType_Classes,0.006095,0.005844,0.002661,0.004281,0.000237,-0.009789,1.000000,0.005725
WFHSetupAvailable_Classes,-0.229720,-0.285085,-0.276580,-0.306266,0.004144,-0.073296,0.005725,1.000000

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Designation                22750 non-null  float64
 1   Resource Allocation        21369 non-null  float64
 2   Mental Fatigue Score       20633 non-null  float64
 3   Burn Rate                  21626 non-null  float64
 4   working_days               22750 non-null  int64
 5   Gender_Classes             22750 non-null  int32
 6   CompanyType_Classes        22750 non-null  int32
 7   WFHSetupAvailable_Classes  22750 non-null  int32
dtypes: float64(4), int32(3), int64(1)
memory usage: 1.1 MB

In [71]:
df.columns

Index(['Designation', 'Resource Allocation', 'Mental Fatigue Score',
       'Burn Rate', 'working_days', 'Gender_Classes', 'CompanyType_Classes',
       'WFHSetupAvailable_Classes'],
      dtype='object')

In [72]:
cols = ['Resource Allocation','Mental Fatigue Score','Burn Rate']
for col in cols:
    mn_value = df[col].mean()
    df[df[col].isna()] = mn_value

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Designation                22750 non-null  float64
 1   Resource Allocation        22750 non-null  float64
 2   Mental Fatigue Score       22750 non-null  float64
 3   Burn Rate                  22750 non-null  float64
 4   working_days               22750 non-null  float64
 5   Gender_Classes             22750 non-null  float64
 6   CompanyType_Classes        22750 non-null  float64
 7   WFHSetupAvailable_Classes  22750 non-null  float64
dtypes: float64(8)
memory usage: 1.4 MB

In [74]:
df.columns

Index(['Designation', 'Resource Allocation', 'Mental Fatigue Score',
       'Burn Rate', 'working_days', 'Gender_Classes', 'CompanyType_Classes',
       'WFHSetupAvailable_Classes'],
      dtype='object')

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Designation                22750 non-null  float64
 1   Resource Allocation        22750 non-null  float64
 2   Mental Fatigue Score       22750 non-null  float64
 3   Burn Rate                  22750 non-null  float64
 4   working_days               22750 non-null  float64
 5   Gender_Classes             22750 non-null  float64
 6   CompanyType_Classes        22750 non-null  float64
 7   WFHSetupAvailable_Classes  22750 non-null  float64
dtypes: float64(8)
memory usage: 1.4 MB

In [77]:
y = df['Burn Rate']

In [92]:
X = df[['Designation', 'Resource Allocation', 'Mental Fatigue Score','working_days', 'Gender_Classes', 'CompanyType_Classes',
       'WFHSetupAvailable_Classes']]

In [93]:
from sklearn.model_selection import train_test_split

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [95]:
from sklearn.linear_model import LinearRegression

In [96]:
reg = LinearRegression()

In [97]:
reg.fit(X,y)

LinearRegression()

In [104]:
test_df = pd.read_csv('dataset/test.csv')

In [105]:
test_df.head()

,Employee ID,Date of Joining,Gender,Company Type,WFH Setup Available,Designation,Resource Allocation,Mental Fatigue Score
0,fffe31003300390039003000,2008-12-10,Female,Service,No,2.0,5.0,7.7
1,fffe31003300310037003800,2008-08-14,Female,Product,Yes,1.0,2.0,5.2
2,fffe33003400380035003900,2008-11-13,Male,Product,Yes,1.0,3.0,5.9
3,fffe3100370039003200,2008-02-07,Female,Service,No,3.0,6.0,4.6
4,fffe32003600390036003700,2008-07-17,Female,Product,No,2.0,5.0,6.4

In [106]:
test_df.drop(columns=['Employee ID'],inplace=True)
working_days = []
dates = (survey_date -  pd.to_datetime(test_df['Date of Joining']).dt.date)
len(dates)
for i in dates:
    working_days.append(i.days)
test_df['working_days'] = working_days
test_df.drop(columns=['Date of Joining'],inplace=True)
test_df['Gender_Classes'] = lg_o.transform(test_df['Gender'])
test_df['CompanyType_Classes'] = lct_o.transform(test_df['Company Type'])
test_df['WFHSetupAvailable_Classes'] = lwsa_o.transform(test_df['WFH Setup Available'])
test_df.drop(columns = ['Gender','Company Type','WFH Setup Available'],inplace=True)
cols = ['Resource Allocation','Mental Fatigue Score']
for col in cols:
    mn_value = test_df[col].mean()
    test_df[test_df[col].isna()] = mn_value

In [107]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12250 entries, 0 to 12249
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Designation                12250 non-null  float64
 1   Resource Allocation        12250 non-null  float64
 2   Mental Fatigue Score       12250 non-null  float64
 3   working_days               12250 non-null  float64
 4   Gender_Classes             12250 non-null  float64
 5   CompanyType_Classes        12250 non-null  float64
 6   WFHSetupAvailable_Classes  12250 non-null  float64
dtypes: float64(7)
memory usage: 670.0 KB

In [108]:
y_pred = reg.predict(test_df)

In [109]:
y_pred

array([ 0.49902945,  0.17114422,  0.5682684 , ...,  0.87241846,
        0.59113464, -0.17415355])

In [111]:
tets_data_eid = pd.read_csv('dataset/test.csv')['Employee ID']

In [112]:
output=pd.DataFrame(list(zip(tets_data_eid,y_pred)),columns=['Employee ID','Burn Rate'])

In [113]:
output.to_csv('output.csv',index=False)